<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
  <h2>Reviews</h2>
  <% if current_user %>
  <h3>Write A Review</h3>
  <div class="row compose-review">
    <div class="col-md-6">
      <%= form_for [@product, @review] do |form| %>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, size: '30x5', class: 'form-control' %>
        </div>
        <div class="compose-review-right">
        <div class="form-group">
          <%= form.label :rating %>
          <%= form.select :rating, [5,4,3,2,1], class: 'form-control' %>
        </div>

        <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <div>
  <% @reviews.each do |review|%>
  <%= render partial:"review", locals: { review: review }%>
  <% end %>
  <div>
</section>
